html {
  box-sizing: border-box;
  font-size: 16px;
}

* {
  box-sizing: inherit;
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0, auto;
  padding: 0, auto;
  font-weight: normal;
  background-color: #e2e2e2;
}

#root {
  height: 100%;
  width: 100%;
}

.container_app {
  height: 100%;
  width: 100%;
}

.container_wallet_title {
  /* box-shadow: 10px 5px 5px rgb(10, 10, 10); */
  height: 60px;
  /* background-color: rgb(53, 38, 38); */
  /* background-color: #bbb9b9; */
  /* background-color: rgb(39, 189, 226); */
  background-color: #e2e2e2;
  /* opacity: 0.2; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.wallet_title { 
  text-align:left;
  font-size: 40px;
  /* color: rgb(255, 254, 254); */
  color: rgb(39, 189, 226);
  font-weight: bolder;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-transform: uppercase;
  margin-left: 40px;
  margin-top: 40px;
  /* text-shadow: 4px 4px black; */
}